@import './vars.scss';

body {
    background-color: $color-body;
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}