$color-moon-lily: #e6e6e6;
$color-windswept-beach: #e4e4e4;
$color-silver-polish: #C7C7C7;
$color-smoked-pearl: #656565;
$color-white: #ffffff;
$color-eerie-black: #1A1A1A;

$color-body: $color-moon-lily;
$color-surface: $color-white;
$color-input-border: $color-silver-polish;

$color-on-body: $color-eerie-black; 

$st-trans: 0.25s ease;
